<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Isomorphic Charts</title>
    <style>
      body {
        color: #444;
        font-family: sans-serif;
        margin: 0 auto;
        width: 600px;
        max-width: 100%;
        text-align: center;
      }

      svg {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Why I think isomorphic charts are the best</h1>

      <div id="chart">
        {% autoescape false %}
          {{ chart }}
        {% endautoescape %}
      </div>
      <p>
        Because they work everywhere!
      </p>
    </article>

    <script src="/bundle.js" async></script>
  </body>
</html>
